body{
    background:url('https://media.istockphoto.com/id/1364822585/photo/creative-flat-lay-of-workspace-desk-notepad-on-wooden-background.jpg?b=1&s=170667a&w=0&k=20&c=aS0PnJsDM0iIQdVNT3iHo8oe0bwkayb5cMhtsngrsFs=')no-repeat center/cover;
}
.container{
    text-align:center;
    margin-top:40px;
    padding: 40px;
}

table{
    margin: auto;
}

input{
    border-radius: 40px;
    border: 5px solid #610c0c;
    font-size:45px;
    height: 50px;
    width: 300px;
}

button{
    border-radius: 8px;
    font-size: 40px;
    background: #000c05;
    color: aliceblue;
    font-weight:900 center;
    width: 70px;
    height: 50px;
    margin: 6px;
}

.calculator{ 
    height:400px;
    width:400px;
    background:fixed;
    border-radius: 53px;
    display: inline-block;
    padding-right:100px;
    right: 70px;
    
}

h2{
    font-size:40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    right:50px;
    text-align: 100px;
    
}